.buttongphome {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 20px;
    grid-template-areas:
      "btn1"
      "btn2";
  }
  
  @media (max-width: 1000px) {
    .buttongphome {
        grid-template-columns:auto; 
        column-gap: 20px;
        grid-template-rows: auto;
      grid-template-areas:
        "btnnone btnnone"
        "btn1 btn2";
    }
  }
  
  .lbtn1 { grid-area: btn1;}
  .lbtn2 { grid-area: btn2;}
  .lbtnnone { grid-area: btnnone; height:12px; width: 50px;}
  