.buttongp {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 20px;
    grid-template-areas:
      "btn1"
      "btn2"
      "btn3";
  }
  
  @media (max-width:1200px) {
    .buttongp {
        grid-template-columns:auto; 
        column-gap: 20px;
        grid-template-rows: auto;
      grid-template-areas:
        "btn1 btn2 btn3";
    }
  }
  
  .lbtn1 { grid-area: btn1;}
  .lbtn2 { grid-area: btn2;}
  .lbtn3 { grid-area: btn3;}
  .lbtnnone { grid-area: btnnone; height:12px; width: 50px;}
  