@charset "utf-8";
/* CSS Document */
#toop {
	width: 100%;
	text-align:center;
        white-space: nowrap;
}

#logo_header {
	display: inline-block;
        width: 9%;
        vertical-align: top; 

}

#logo {
        min-width: 55px;
}

#banner {
	display: inline-block;
        vertical-align: top; 
}

.bucomhome {    /*div*/
	width: 100%;
        text-align: center;

}

.bucom {    /*div*/
	width: 100%;
        text-align: center;
        display:inline-block;
}


.com {     /*the div outside carousel*/
	width: 80%;
        display:inline-block;
        vertical-align: top; 
        text-align: center;

}

.carousel-inner img {
        width: 60%;
        height: 34%;
}

.buttongphome {
        text-align: center;
        padding-top: 50px;
	width:auto;
        display:inline-block;
        vertical-align: top; 
        float: left;
}

.buttongp {
        text-align: center;
        padding-top: 50px;
	width:auto;
        display:inline-block;
        vertical-align: top; 
        float: left;
}

.buttongpout {
        padding-top: 50px;
        padding-left: 50px;

}


.btnleft {    /*btn*/
       width:120px;
       height:40px;
       font-size:20px;
       background-color:#EFEFEF;
       color:#000000;
       border-radius:5px;
       cursor:pointer;
}

.btnleft:hover{
       color:#787878;
       background-color:#FFFFFF;
       transform: scale(1.05);
}

body {
	background-color:#f0faf3 ;
}

a {
        color: #2a5d3b;
}

a:hover {
        color: #9bb4a3;
}

.outmid {
        clear:both;
        white-space: nowrap;
}

.mid {
        background-color:#e3fcec;
        width: 20%;
        display: inline-block;
        text-align:center;
        border-color:#3d634a;border-width:5px;border-style:double;
}

.mid a img:hover {
        transform: translateY(-20px);
        transition:0.5s;
}


#last-update {
        display: inline-block;
}


/*update最新更新日期*/
#last-update::after {
        content: "23/07/2023[19:00]";
}


.login {
	width: 80%;
        display:inline-block;
        vertical-align: middle;
}

.login form table {
        display:inline-block;
        text-align: center;
        color: #db0f0f;
}


.login form table tr td{
        text-align: left;
}


table tr td button img {
	height:200px;
	width:200px;
}
	
	
#confirmbox{
        border: none;
        box-shadow: 0 2px 6px #ccc;
        border-radius: 10px;
}

#confirmbox::backdrop {
        background-color: rgba(0, 0, 0, 0.1);
}

.carouseltext {
        text-align: left;
}

footer {
        text-align: center;
        background-color:#384a3e;
	width: 100%;
        height:80px;
        color:#f0fff5;
        line-height: 80px;
        word-spacing:30px;

        position: relative;
}

.unfooter {
        display: none;
}

@media (max-width: 700px) {
        .unfooter {
                display: block;
        }

        footer {
                display: none;
        }
}

footer a {
        color:#f0fff5;
}

footer a:hover {
        color:paleturquoise;
}

#application {
        width: 50%;
        text-align: left;
}

.com2 {
	width: 80%;
        display:inline-block;
        color: #226037;
}

.com3 {
	width: 80%;
        display:inline-block;
        background-color: #fafcfb;
}

.app {
        font-size: 7px;
        color: #db0f0f;
}

select {
        padding:8px;
        border-radius: 8px;
 }
 
.dropdown-toggle {
        background-color: #ffffff;
        color: #529765;
        border:#529765 double;
        border-radius: 8px;
}


.dropdown-toggle:hover {
        background-color:#76927e;
        color: #ffffff;
        border: #ffffff double;
        border-radius: 8px;
}

.dropdown-header {
        color: #b8dec3;
}

.dropdown-item {
        color: #529765;
}

.dropdown-item:hover {
        background-color:#76927e;
        color: #ffffff;
        transition: 0.3s;
}

.custom-select select  {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        overflow: hidden;
        color: #529765;
        border: double;
}
   
.custom-select select option[selected] {
        color:mediumturquoise;
        background-color:honeydew;
}

/*paleturquoise aquamarine cyan*/

.comdis {
        color: #b0b0b0;
} 

.comdis a{
        color: #b0b0b0;
}

#customerreview {
        color: rgb(58, 163, 163);
        text-align: right;
        width: 60%;
}

#customerreview2 {
        color: rgb(58, 163, 163);
        text-align: center;
        width: 100%;
}

#aboutuspage {
        display: inline;
}

.aboutuspagelink {
        color: #b0b0b0;
}

.hr-edge-weak {
        margin-left:0;
        width: 40%;
        border: 0;
        padding-top: 1px;
        background: linear-gradient(to right, transparent, #d0d0d5, transparent);
}

.hr-double-arrow {
        color: #d0d0d5;
        border: double;
        border-width: 3px 5px;
        border-color: #d0d0d5 transparent;
        height: 1px;
        overflow: visible;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
    }


.hr-double-arrow:before, 
.hr-double-arrow:after {
        content: '';
        position: absolute;
        width: 5px; height: 5px;
        border-width: 0 3px 3px 0;
        border-style: double;
        top: -3px;
        background: radial-gradient(2px at 1px 1px, currentColor 2px, transparent 0) no-repeat;
}

.hr-double-arrow:before {
        transform: rotate(-45deg);
        left: -20px;
}

.hr-double-arrow:after {
        transform: rotate(135deg);
        right: -20px;
}

.videoout {
        border: 7px double rgb(29, 67, 55);
        border-radius: 5px;
}

.musicimg {
        cursor:pointer;

        top: 37%; 
}

.playbgm0{
        position:absolute;
        z-index:1;
        opacity:0;
}

.pausebgm0{
        position:absolute;
        z-index:2;
        opacity:1;
}


ion-icon {
        font-size: 24px;
}